/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: purple;
    --heading-text-color: dark blue;
    --heading-font: darkblue: lato, arial, san-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0/ 0.1);
}

/* =========================
   Class Selectors
   ========================= */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #004080;
    background-color: #f0f8ff;
    color: #333;
}

aside img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 200px;
    border-radius: 8px;
    height: auto;
    border: 1px solid #004080;
    padding: 2px;
    box-shadow: #333;

}

aside h2 {
    position: relative;
    top: 10px;
    left: 10px;
    background: rgba(0, 64, 128, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;

}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    transition: var(--heading-background-color);
}

nav a:hover {
    background-color: aquamarine;
    border-radius: 5px;
}

h1 {
    color: black;
    border-bottom: 2px solid darkblue;
    margin: 0.5rem;
    font-size: 2rem;

}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: start;
    max-width: 840px;
    margin: auto;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: #333;

}

header {
    background-color: #004080;
    padding: 1rem;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    border: 4px solid steelblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.school-box img {
    float: right;
    width: 150px;
    margin: 0 0 1rem 1rem;
    border: 2px solid steelblue;
    margin-top: 10rem;
    display: block;
    border-radius: 8px;
    position: static;
    margin-left: 1rem;

}

.school-box h2 {
    margin-bottom: 5rem;
    background: #004080;
    padding: 0.5rem;
}